{% extends 'base.html' %}
{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static 'en/css/error.css' %}">
{% endblock css %}


{% block body %}
        <!--=====================================
                     ERROR PART START
        =======================================-->
        <section class="error-part">
            <div class="container">
                <h1>ERROR!!!</h1>
                <h3>ooopps! payment failed could you try again later</h3>
                <p>Please be sure that your payment cart is working and has the enough money in it.</p>
                <a href="{% url 'home' %}">go to home</a>
            </div>
        </section>
        <!--=====================================
                     ERROR PART END
        =======================================-->
{% endblock body %}