{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block css %}
    {% if LANGUAGE_CODE == 'ar' %}
    <link rel="stylesheet" href="{% static 'ar/css/error.css' %}">
    {% else %}
    <link rel="stylesheet" href="{% static 'en/css/error.css' %}">
    {% endif %}
{% endblock css %}


{% block body %}
        <!--=====================================
                     ERROR PART START
        =======================================-->
        <section class="error-part">
            <div class="container">
                <h1>{% translate 'ERROR!!!' %}</h1>
                <h3>{% translate 'ooopps! payment failed could you try again later' %}</h3>
                <p>{% translate 'Please be sure that your payment cart is working and has the enough money in it.' %}</p>
                <a href="{% url 'home' %}">{% translate 'go to home' %}</a>
            </div>
        </section>
        <!--=====================================
                     ERROR PART END
        =======================================-->
{% endblock body %}