{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block css %}
    {% if LANGUAGE_CODE == 'ar' %}
    <link rel="stylesheet" href="{% static 'ar/css/invoice.css' %}">
    {% else %}
    <link rel="stylesheet" href="{% static 'en/css/invoice.css' %}">
    {% endif %}
{% endblock css %}

{% block body %}

    <!--=====================================
                    BANNER PART START
        =======================================-->
        <section class="inner-section single-banner" style="background: url(images/single-banner.jpg) no-repeat center;">
            <div class="container">
                <h2>{% translate 'Payment Success' %}</h2>
                <h2>{% translate 'Your code is' %} {{ code }}</h2>
            </div>
        </section>
        <!--=====================================
                    BANNER PART END
        =======================================-->


        <!--=====================================
                    INVOICE PART START
        =======================================-->
        <section class="inner-section invoice-part">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="alert-info">
                            <p>{% translate 'Thank you! We have recieved your order.' %}</p>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="account-card">
                            <div class="account-title">
                                <h4>{% translate 'order recieved' %}</h4>
                            </div>
                            <div class="account-content">
                                <div class="invoice-recieved">
                                    <h6>{% translate 'order number' %} <span>{{ code }}</span></h6>
                                    <h6>{% translate 'order date' %} <span>{{ order.order_time|date:"d m Y" }}</span></h6>
                                    <h6>{% translate 'total amount' %} <span>${{ total }}</span></h6>
                                    <h6>{% translate 'payment method' %} <span>{% translate 'Online Payment' %}</span></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="account-card">
                            <div class="account-title">
                                <h4>{% translate 'Order Details' %}</h4>
                            </div>
                            <div class="account-content">
                                <ul class="invoice-details">
                                    <li>
                                        <h6>{% translate 'Total Item' %}</h6>
                                        <p>{{ order_details|length }} {% translate 'Items' %}</p>
                                    </li>
                                    <li>
                                        <h6>{% translate 'Order Time' %}</h6>
                                        <p>{{ order.order_time }}</p>
                                    </li>
                                    <li>
                                        <h6>{% translate 'Delivery Time' %}</h6>
                                        <p>{{ order.delivery_time }}</p>
                                    </li>
                                    <li>
                                        <h6>{% translate 'Delivery Location' %}</h6>
                                        <p>{{ order.delivery_address }}</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="account-card">
                            <div class="account-title">
                                <h4>{% translate 'Amount Details' %}</h4>
                            </div>
                            <div class="account-content">
                                <ul class="invoice-details">
                                    <li>
                                        <h6>{% translate 'Sub Total' %}</h6>
                                        <p>${{ subtotal }}</p>
                                    </li>
                                    <li>
                                        <h6>{% translate 'discount' %}</h6>
                                        <p>${{ discount }}</p>
                                    </li>
                                    <li>
                                        <h6>{% translate 'Delivery Fee' %}</h6>
                                        <p>${{ delivery_fee }}</p>
                                    </li>
                                    <li>
                                        <h6>{% translate 'Total' %}<small>(Incl. VAT)</small></h6>
                                        <p>${{ total }}</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="table-scroll">
                            <table class="table-list">
                                <thead>
                                    <tr>
                                        <th scope="col">{% translate 'Serial' %}</th>
                                        <th scope="col">{% translate 'Product' %}</th>
                                        <th scope="col">{% translate 'Name' %}</th>
                                        <th scope="col">{% translate 'Price' %}</th>
                                        <th scope="col">{% translate 'brand' %}</th>
                                        <th scope="col">{% translate 'quantity' %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for item in order_details %}
                                    <tr>
                                        <td class="table-serial"><h6>{{ item.product.sku }}</h6></td>
                                        <td class="table-image"><img src="{{ item.product.image.url }}" alt="product"></td>
                                        <td class="table-name"><h6>{{ item.product }}</h6></td>
                                        <td class="table-price"><h6>${{ item.price}}</h6></td>
                                        <td class="table-brand"><h6>{{ item.product.brand }}</h6></td>
                                        <td class="table-quantity"><h6>{{ item.quantity }}</h6></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center mt-5">
                        <div class="back-home">
                            <a href="{% url 'home' %}">{% translate 'Back to Home' %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--=====================================
                    INVOICE PART END
        =======================================-->

{% endblock body %}