{% extends "base_generic.html" %}

{% load bootstrap5 %}
{% load i18n %}

{% block body %}

    <!--=====================================
                    USER FORM PART START
        =======================================-->
        <section class="user-form-part">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5">
                        <div class="user-form-card">
                            <div class="user-form-title">
                                <h2>{% translate 'Logged Out!' %}</h2>
                                <p>{% translate "Don't Be Late We Are Waiting For You" %}</p>
                            </div>
                        </div>
                        <div class="user-form-remind">
                            <p>{% translate 'Click Here To Login Again.' %}<a href="{% url 'login' %}">{% translate 'login here' %}</a></p>
                        </div>
                        <div class="user-form-footer">
                            <p>{% translate 'Greeny' %} | &COPY; {% translate 'Copyright by' %} <a href="#">{% translate 'Mironcoder' %}</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--=====================================
                    USER FORM PART END
        =======================================-->

{% endblock body %}


