{% extends "base_generic.html" %}

{% load bootstrap5 %}

{% block body %}

    <!--=====================================
                    USER FORM PART START
        =======================================-->
        <section class="user-form-part">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5">
                        <div class="user-form-card">
                            <div class="user-form-title">
                                <h2>Logged Out!</h2>
                                <p>Don't Be Late We Are Waiting For You</p>
                            </div>
                        </div>
                        <div class="user-form-remind">
                            <p>Click Here To Login Again.<a href="{% url 'login' %}">login here</a></p>
                        </div>
                        <div class="user-form-footer">
                            <p>Greeny | &COPY; Copyright by <a href="#">Mironcoder</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--=====================================
                    USER FORM PART END
        =======================================-->

{% endblock body %}


