{% extends "base_generic.html" %}

{% load bootstrap5 %}

{% block body %}

    <!--=====================================
                    USER FORM PART START
        =======================================-->
        <section class="user-form-part">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5">
                        <div class="user-form-card">
                            <div class="user-form-title">
                                <h2>any issue?</h2>
                                <p>Make sure your current password is strong</p>
                            </div>
                            <form class="user-form">
                                {% csrf_token %}
                                    {% if form.email.errors %}
                                        {{ form.email.errors }}
                                      {% endif %}
                                    <div class="form-group">
                                       {% bootstrap_form form %}
                                    </div>
                                    <div class="form-button">
                                        <button type="submit">Change password</button>
                                    </div>
                            </form>
                        </div>
                        <div class="user-form-remind">
                            <p>Go Back To<a href="{% url 'login' %}">login here</a></p>
                        </div>
                        <div class="user-form-footer">
                            <p>Greeny | &COPY; Copyright by <a href="#">Mironcoder</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--=====================================
                    USER FORM PART END
        =======================================-->

{% endblock body %}
