{% load i18n %}

<h3 class="frame-title">{% translate 'Reviews' %} ({{ object.reviews_count }})</h3>
<ul class="review-list">

    {% for review in reviews %}
    <li class="review-item">
        <div class="review-media">
            <a class="review-avatar" href="#">
                <img src="images/avatar/01.jpg" alt="review">
            </a>
            <h5 class="review-meta">
                <a href="#">{{ review.user }}</a>
                <span>{{ review.review_date }}</span>
            </h5>
        </div>
        <ul class="review-rating">
            <li class="{% if review.rate > 0 %}icofont-ui-rating{% else %}icofont-ui-rate-blank{% endif %}"></li>
            <li class="{% if review.rate > 1 %}icofont-ui-rating{% else %}icofont-ui-rate-blank{% endif %}"></li>
            <li class="{% if review.rate > 2 %}icofont-ui-rating{% else %}icofont-ui-rate-blank{% endif %}"></li>
            <li class="{% if review.rate > 3 %}icofont-ui-rating{% else %}icofont-ui-rate-blank{% endif %}"></li>
            <li class="{% if review.rate > 4 %}icofont-ui-rating{% else %}icofont-ui-rate-blank{% endif %}"></li>
        </ul>
        <p class="review-desc"> {{ review.review }}</p>

    </li>
    {% endfor %}
</ul>