{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'en/css/product-details.css' %}">
{% endblock css %}

{% block body %}


    



        <!--=====================================
                    BANNER PART START
        =======================================-->
        <section class="single-banner inner-section" style="background: url(images/single-banner.jpg) no-repeat center;">
            <div class="container">
                <h2>product simple</h2>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item"><a href="shop-4column.html">shop-4column</a></li>
                    <li class="breadcrumb-item active" aria-current="page">product-simple</li>
                </ol>
            </div>
        </section>
        <!--=====================================
                    BANNER PART END
        =======================================-->


        <!--=====================================
                PRODUCT DETAILS PART START
        =======================================-->
        <section class="inner-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="details-gallery">
                            <div class="details-label-group">
                                <label class="details-label {% if object.flag == 'Sale' %}sale
                                            {% elif object.flag == 'Feature' %}feat
                                            {% else %}new{% endif %}">{{ object.flag }}</label>
                            </div>
                            <ul class="details-preview">
                                <li><img src="{{ object.image.url }}" alt="product"></li>
                                {% for image in images %}
                                <li><img src="{{ image.image.url }}" alt="product"></li>
                                {% endfor %}
                            </ul>
                            <ul class="details-thumb">
                                <li><img src="{{ object.image.url }}" alt="product"></li>
                                {% for image in images %}
                                <li><img src="{{ image.image.url }}" alt="product"></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="details-content">
                            <h3 class="details-name"><a href="#">{{ object }}</a></h3>
                            <div class="details-meta">
                                <p>SKU:<span>{{ object.sku }}</span></p>
                                <p>BRAND:<a href="#">{{ object.brand }}</a></p>
                            </div>
                            <div class="details-rating">
                                <i class="icofont-star {% if object.avg_rate > 0 %}active{% endif %}"></i>
                                <i class="icofont-star {% if object.avg_rate > 1 %}active{% endif %}"></i>
                                <i class="icofont-star {% if object.avg_rate > 2 %}active{% endif %}"></i>
                                <i class="icofont-star {% if object.avg_rate > 3 %}active{% endif %}"></i>
                                <i class="icofont-star {% if object.avg_rate > 4 %}active{% endif %}"></i>
                                <a href="product-video.html">({{ object.reviews_count }})</a>
                            </div>
                            <h3 class="details-price">
                                <span>${{ object.price }}</span>
                            </h3>
                            <p class="details-desc">{{ object.subtitle }}</p>
                            <div class="details-list-group">
                                <label class="details-list-title">tags:</label>
                                <ul class="details-tag-list">
                                    <li><a href="#">organic</a></li>
                                    <li><a href="#">fruits</a></li>
                                    <li><a href="#">chilis</a></li>
                                </ul>
                            </div>
                            <div class="details-list-group">
                                <label class="details-list-title">Share:</label>
                                <ul class="details-share-list">
                                    <li><a href="#" class="icofont-facebook" title="Facebook"></a></li>
                                    <li><a href="#" class="icofont-twitter" title="Twitter"></a></li>
                                    <li><a href="#" class="icofont-linkedin" title="Linkedin"></a></li>
                                    <li><a href="#" class="icofont-instagram" title="Instagram"></a></li>
                                </ul>
                            </div>
                            <div class="details-add-group">
                                
                                <form method="post" action="{% url 'add-to-cart' %}">
                                    {% csrf_token %}
                                    
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-6">
                                            <input class="action-input" title="Quantity Number" type="number" name="quantity" value="1">
                                            <input type="hidden" value="{{ object.id }}" name="product_id">
                                            </div>
                                            <div class="col-lg-6">
                                                <button class="product-add" title="Add to Cart" type="submit">
                                                    <i class="fas fa-shopping-basket"></i>
                                                    <span>add to cart</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </form>
                                
                                
                                <div class="product-action">
                                    <button class="action-minus" title="Quantity Minus"><i class="icofont-minus"></i></button>
                                    
                                    <button class="action-plus" title="Quantity Plus"><i class="icofont-plus"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--=====================================
                PRODUCT DETAILS PART END
        =======================================-->


        <!--=====================================
                  PRODUCT TAB PART START
        =======================================-->
        <section class="inner-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product-details-frame">
                            <h3 class="frame-title">Description</h3>
                            <div class="tab-descrip">
                                <p>{{ object.description }}</p>
                            </div>
                        </div>
                        <div class="product-details-frame" id="all-reviews">
                            {% include 'includes/reviews.html' %}
                        </div>
                        <div class="product-details-frame">
                            <h3 class="frame-title">add your review</h3>
                            <form id="review-form" class="review-form" method="post" action="{% url 'add-review' object.slug %}">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="star-rating">
                                            <input type="radio" name="rate" id="star-1" value="5"><label for="star-1"></label>
                                            <input type="radio" name="rate" id="star-2" value="4"><label for="star-2"></label>
                                            <input type="radio" name="rate" id="star-3" value="3"><label for="star-3"></label>
                                            <input type="radio" name="rate" id="star-4" value="2"><label for="star-4"></label>
                                            <input type="radio" name="rate" id="star-5" value="1"><label for="star-5"></label>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <textarea class="form-control" placeholder="Describe" name="review"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <button class="btn btn-inline" type="submit">
                                            <i class="icofont-water-drop"></i>
                                            <span>drop your review</span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--=====================================
                    PRODUCT TAB PART END
        =======================================-->


        <!--=====================================
                 PRODUCT RELATED PART START
        =======================================-->
        <section class="inner-section">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="section-heading">
                            <h2>related this items</h2>
                        </div>
                    </div>
                </div>
                <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
                    
                    {% for item in related %}
                    <div class="col">
                        <div class="product-card {% if item.quantity == 0 %} product-disable {% endif %}">
                            <div class="product-media">
                                <div class="product-label">
                                    <label class="label-text {% if item.flag == 'Sale' %}sale
                                            {% elif item.flag == 'Feature' %}feat
                                            {% else %}new{% endif %}">{{ item.flag }}</label>
                                </div>
                                <a class="product-image" href="{% url 'product-detail' item.slug %}">
                                    <img src="{{ item.image.url }}" alt="product">
                                </a>
                            </div>
                            <div class="product-content">
                                <div class="product-rating">
                                    <i class="icofont-star {% if item.avg_rate > 0 %}active{% endif %}"></i>
                                    <i class="icofont-star {% if item.avg_rate > 1 %}active{% endif %}"></i>
                                    <i class="icofont-star {% if item.avg_rate > 2 %}active{% endif %}"></i>
                                    <i class="icofont-star {% if item.avg_rate > 3 %}active{% endif %}"></i>
                                    <i class="icofont-star {% if item.avg_rate > 4 %}active{% endif %}"></i>
                                    <a href="product-video.html">({{ item.reviews_count }})</a>
                                </div>
                                <h6 class="product-name">
                                    <a href="{% url 'product-detail' item.slug %}">{{ item }}</a>
                                </h6>
                                <h6 class="product-price">
                                    <span>${{ item.price }}</span>
                                </h6>
                                <button class="product-add" title="Add to Cart">
                                    <i class="fas fa-shopping-basket"></i>
                                    <span>add</span>
                                </button>
                                <div class="product-action">
                                    <button class="action-minus" title="Quantity Minus"><i class="icofont-minus"></i></button>
                                    <input class="action-input" title="Quantity Number" type="text" name="quantity" value="1">
                                    <button class="action-plus" title="Quantity Plus"><i class="icofont-plus"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-btn-25">
                            <a href="shop-4column.html" class="btn btn-outline">
                                <i class="fas fa-eye"></i>
                                <span>view all related</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--=====================================
                 PRODUCT RELATED PART END
        =======================================-->


<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    
    <script>
    
        $(document).ready(function() { // execute code on loading
            $(document).on('submit', '#review-form', function(event) {
                // no refresh
                event.preventDefault()
                
                // ajax
                $.ajax({
                    type: $(this).attr('method'),
                    url: $(this).attr('action'),
                    data: $(this).serialize(),
                    dataType: 'json',
                    success: function (response) {
                        $('#all-reviews').html(response['result'])
                        
                        // Clear the textarea
                        $('textarea[name="review"]').val('');
    
                        // Clear the star ratings
                        $('input[name="rate"]').prop('checked', false);
                    },
                    error: function() {
                        // Handle error (optional)
                        alert("There was an error submitting your review. Please try again.");
                    }
                })
            })
        })
    
    </script>


{% endblock body %}



